@media screen and (max-width: 1440px) {
  #header_large_menu a{
    font-size: smaller;
  }
}

@media screen and (max-width: 800px){
  #header_large_menu{
    display: none;
  }
  #header_small_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #header_search{
    position: fixed;
    right: 75px;
    max-width: 25px;
    top: 12px;
  }
}

@media screen and (min-width: 800px){
  #header_small_menu{
    display: none;
  }
}

#header_small_menu{
  position: fixed;
  right: 20px;
  top: 10px;
}

#header_small_menu:hover #dropdown{
  display: flex;
}

#header_search{
  width: 30px;
  padding: 0 40px;
}

#header_home {
  color: #eff6b4;
  height: fit-content;
}

#dropdown {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: black;
  opacity: 90%;
  border-radius: 5px;
  padding-top: 5px;
}

#dropdown a{
  font-size: 10;
  padding: 0px 5px;
}

#search_menu{
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8));
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100vw;
  height: 100vh;

  z-index: 0;
}

#search_form {

  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: flex-start;

  background-color: red;

  width: 350px;
}

.form_flex {
  display: flex;
  flex-direction: row;
}

.header_bg {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05));
  height: 7vh;
  width: 100vw;
}

.header {
  border-style: solid;
  border-width: 0px;
  border-color: #f59d05;

  padding: 15px 10px;

  font-family: "Aldrich", sans-serif;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;

  z-index: 1;

  display: flex;
  justify-content: space-around;

  align-items: center;
}

#header_home:hover {
  color: #f49c52;
}

.header a {
  color: #f3f5f2;
  padding: 0px 40px;

  text-decoration: none;
  font-size: 17px;
  height: 30px;
}

.header a:hover {
  color: #f49c52;
}

footer {
  border-style: solid;
  border-width: 3px 0px 0px 0px;
  border-color: #f59d05;
  background-color: rgba(140, 37, 28, 0.3);
  padding: 20px 0px;

  font-family: "Aldrich", sans-serif;

  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.temp {
  align-self: flex-end;
}