@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: #F2DCC2;
}

p, li, td, th, h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, p, li {
    margin-left: 10%;
    color: white;
}

p {
    text-indent: 25px;
    margin: 0 10% 0 10%;
}

.menu {

    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
    background-color: #F2DFCE;
    padding: 15px 10px;

    font-family: 'Aldrich', sans-serif;

    margin: auto;
    width: fit-content;
}

.menu a {
    color: black;
    text-align: center;
    padding: 0px 40px;
    
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover{
    color: #D90452;
    font-size: 20px;
}

.menu p{
    color: black;
    text-align: center;
    font-size: 17px;

    margin: 0;
    text-indent: 0;
}

.ctg_map {
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: fit-content;
}

.hLine {
    border-style: dotted none none;
    border-width: 10px;
    width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.white_info_text p{
    margin: 0px 100px 0px 100px;
    color: white;
    text-indent: 25px;
}

.monk{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../media/Budism/adult_monk.jpg");
}

.monk table, th{

    background-color: rgb(0, 0, 0, 0.3);
    border: 1px solid gray;
    border-collapse: collapse;

    color: white;
    font-weight: normal;

    margin: 0 10% 0 10%;
}

.ue{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.7)), url("../media/UE/EU_Flag.jpg");
}

.ue table, th, td{

    background-color: rgb(0, 0, 0, 0.1);
    border: 1px solid gray;
    border-collapse: collapse;

    text-align: center;

    color: white;
    font-weight: normal;

    margin: 0 10% 0 10%;
}

.image_list{
    margin-left: 8%;
}

.image_list img:hover{
    transform: scale(1.5);
}

.asia{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../media/Asia/asia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.asia img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.everest{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../media/Everest/everest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.automobil{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.7)), url("../media/Automobil/auto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.p_hr{
    border-style: solid none none;
    border-width: 5px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}