.search{

    width: 1300px;
    height: fit-content;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%, 0);
    top: 60px;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;

    font-family: "Aldrich", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;

    display: grid;
    grid-template-columns: 1000px 300px;
}

.search_results {
    display: flex;
    flex-direction: column;
}

#test{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
    padding: 20px;
    border-radius: 10px;
}

#test a, p{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0;
}

.search_menu {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.search_menu form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_menu input {

    display: block;
}

.search_menu button {

    border: none;

    margin-top: 15px;
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.search_menu label{

    font-size: smaller;
}

.search_menu div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 10px;
}

.text_inpt{
    color: white;
    border: 0;
    display: block;
    height: 30px;
    width: 90%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}